$bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC";

.board{
  height: 75vh;
  box-sizing: border-box;
  overflow:auto;
  background: url($bg-url) repeat fixed 0 0;
  animation: bg-scrolling-reverse 2s infinite;
  animation-timing-function: linear;
  text-align: center;

  .info{
    background-color: #333;
    border-radius: 5%;
    padding: 3vh;
    color: #ffffff;
    font-weight: 600;

    .info-flex{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    pre{
      white-space: pre-line;
      font-family: inherit;
      margin: auto 0;
      font-size: 2.5vh;
      text-align: justify;

    }

    a{
      box-shadow:inset 0 1px 0 0 #ffffff;
      background: #f9f9f9 linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
      border-radius:4px;
      border:1px solid #dcdcdc;
      display:inline-block;
      cursor:pointer;
      color:#000000;
      font-size: 1.5vh;
      font-weight:bold;
      padding:.8vh 3vh;
      text-decoration:none;
      text-shadow:0 1px 0 #ffffff;
      margin-left: auto;

      &:focus {
        outline:0;
      }
    }
  }

  @media screen and (orientation:portrait) {
    .card{
      width: 25vh;
      height: 30vh;
      margin-top: 13%;
      margin-left: auto;
      margin-right: auto;

      .picture{
        height: 22vh;
      }

      .content{
        height: 8vh;

        .symbol{
          width: 23vh;
          height: 4.5vh;

          a{
            height: 3.2vh;
          }
        }
      }
    }

    .info{
      width: 45vh;
      height: 30vh;
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
    }

  }

  @media screen and (orientation:landscape) {
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      text-align: center;
    }

    .card{
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: 36vh;
      height: 45vh;
      margin-right: 3%;
      margin-left: 0;

      .picture{
        height: 34vh;
      }

      .content{
        height: 11vh;

        .symbol{
          width: 30vh;
          height: 6vh;

          a{
            height: 4.2vh;
          }
        }
      }
    }

    .info{
      width: 55vh;
      height: 45vh;
      display: inline-block;
      vertical-align: middle;
      margin-left: 3%;
    }
  }

}

@keyframes bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}
